{% extends "base.html" %}
{% block content%}
<h1>Tasks detail </h1>
{{title}}
<ul>
    {% for tarea in mis_tareas%}
    <li>
        <h2>{{ tarea.title}}</h2>
        <p>{{ tarea.description}}</p>
        <p>{{ tarea.created}}</p>
        <p>{{ tarea.datecompleted}}</p>
        <p>{{ tarea.important}}</p>
        <p>{{ tarea.user}}</p>
        <p>{{ tarea.user.email}}</p>
        <p>{{ tarea.user.is_superuser}}</p>
        <p>{{ tarea.user.is_active}}</p>
    </li>




    {% endfor%}
    </ul>
{% endblock%}